/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--white);
}

/* COLOR DEFINITION */

:root {
    --white: white;
    --off-white: #BCBCBC;
    --grey: #E0E0E0;
    --black: #000000;
    --border: #0000001c;
    --border-2: #00000041;

    --primary: #2A4096;
}

/* TEXT DEFINITION */

h1 {
    color: var(--black);
    font-size: 45px;
    font-weight: 600;
    line-height: 4rem;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    width: fit-content;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    background-color: var(--black);
    width: 40%;
    height: 3px;
    left: 0;
    bottom: -3px;

}

h4 {
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
}

p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    color: var(--black);
}

a {    
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    color: var(--black);
}

.link {
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    background-color: var(--black);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: .3s;
}

.link:hover:after {
    width: 100%;
}



/* DEFAULT */
section {
    padding: 20px 10%;
}

/* HEADER STYLE */

header {
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);

    box-shadow: 0 0 2px #8a9dc2;
}

.logo-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--white);
}

header a {
    text-decoration: none;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 500;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-social {
    display: flex;
    gap: 10%;
    align-items: center;
}


/* HERO SECTION STYLE */

.hero {
    padding: 50px 10%;
    display: flex;
    background-color: var(--grey);
    align-items: center;

    background-image: url(./assets/drawing.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 100%;
}

.hero .left {
    width: 60%;
}

.hero .right {
    width: 40%;
    text-align: center;
}

.hero-btn {
    display: flex;
    gap: 5%;
    align-items: center;
    margin-top: 15px;
}

.pri-btn {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

.pri-btn:hover {
    font-weight: 700;
}

.pri-btn::after {
    width: 35%;
}

.sec-btn {
    text-decoration: none;
    background-color: var(--black);
    font-size: 20px;
    font-weight: 700;
    padding: 6px 25px;
    color: var(--white);
    border-radius: 20px;
}

.sec-btn:hover {
    /* box-shadow: 0 0 10px var(--black); */
}

.hero .right img {
    width: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

/* SKILL SECTION */

.skills {
    display: flex;
    justify-content: space-between;
}

.skill-set {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 15px;

    display: flex;
    align-items: center;
    gap: 10px;
    width: 24%;
}

.skill-set:hover {
    box-shadow: 0 0 10px var(--grey);
    transition: 0.3s;
}

.hr {
    height: auto;
    border-left: 1.5px solid var(--border-2);
    align-self: stretch;
}

.skill-p {
    font-size: 14px;
    font-weight: 200;
    line-height: 14px;
    text-align: unset;
}

/* PROJECT SECTION */

.project {
    margin: 20px 0;
}

.project-list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-list .card {
    width: 48%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.project-list .card .left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    padding: 4% 2%;
    gap: 10px;
}

.card-img{
    width: 100%;
    text-align: center;
}


.card-img img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.tech-p {
    padding: 3px 7px;
    background-color: var(--white);
    border-radius: 10px;
    font-weight: 500;
}

.project-list .card .right {
    width: 53%;
    padding: 2% 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pd-text p {
    margin: 10px 0;
}

.project-description {
    text-align: unset;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}

.project-btn {
    display: flex;
    gap: 10%;
}

.project .view-all {
    text-align: center;
    margin: 50px 0 0 0;
}


/* CONTACT SECTION */

.contact-section {
    background-color: var(--border);
    text-align: center;
}

footer {
    text-align: center;
}



@media screen and (max-width: 1115px) {
    section {
        padding: 20px 5%;
    }

    header {
        padding: 10px 5%;
    }

    .hero {
        padding: 50px 5%;
    }
}


@media screen and (max-width: 1000px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 18px;
        line-height: 25px;        
    }

    a {
        font-size: 15px;
    }

    .link::after {
        height: 2px;
        bottom: -3px;
    }

    .pri-btn {
        font-size: 18px;
    }

    .sec-btn {
        font-size: 18px;
    }

    .skill-p {
        font-size: 12px;
        font-weight: 300;
    }

    .project-description {
        font-size: 15px;
    }
}


@media screen and (max-width: 850px) {
    .pri-btn {
        font-size: 16px;
    }

    .sec-btn {
        font-size: 16px;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skill-set {
        width: 48%;
        margin-top: 15px;
    }

    .project-list .card {
        flex-direction: column;
    }

    .project-list .card .left {
        width: 100%;
    }

    .project-list .card .right {
        width: 100%;
    }

    .hero .right img {
        width: 80%;
    }

}

@media screen and (max-width: 750px) {
    .hero {
        flex-wrap: wrap;
    }

    .hero .left {
        width: 100%;
        order: 1;
        text-align: center;
        margin-top: 20px;
    }
    
    .hero .right {
        width: 100%;
    }

    .hero .right img {
        width: 50%;
    }

    .hero-btn {
        justify-content: center;
    }
}


@media screen and (max-width: 550px) {
    .skill-set {
        width: 48%;
        margin-top: 15px;
    }

    .project-list .card {
        flex-direction: row;
        width: 100%;
    }

    .project-list .card .left {
        width: 45%;
    }

    .project-list .card .right {
        width: 53%;
    }

}


@media screen and (max-width: 390px) {
    h1 {
        font-size: 25px;
        line-height: 30px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 11.5px;
    }

   p {
        font-size: 16px;
        line-height: 23px;  
        font-weight: 400;      
    }

    a {
        font-size: 14px;
    }

    .skill-p {
        font-size: 11px;
    }

    .skill-set {
        width: 48%;
        margin-top: 15px;
    }

    .project-list .card {
        flex-direction: column;
        width: 100%;
    }

    .project-list .card .left {
        width: 100%;
    }

    .project-list .card .right {
        width: 100%;
    }

    .card-img{
        width: 80%;
        text-align: center;
    }

    .project-btn {
        justify-content: center;
    }

    .skill-set img {
        width: 20px;
    }

}

