/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--white);
}

/* COLOR DEFINITION */

:root {
    --purple: #0F1624;
    --white: white;
    --off-white: #BCBCBC;
    --grey: #E0E0E0;
    --black: #000000;
    --border: #0000001c;
    --border-2: #00000041;
}

/* TEXT DEFINITION */

h1 {
    color: var(--black);
    font-size: 45px;
    font-weight: 600;
    line-height: 4rem;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    width: fit-content;
    
}

h2::after {
    display: flex;
    content: " ";
    border-top: 4px solid var(--black);
    width: 50%;
}

h4 {
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
}

p {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    color: var(--black);
}


/* HEADER STYLE */

header {
    padding: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);

    box-shadow: 0 0 1px #8a9dc2;
}

.logo-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--white);
}

header a {
    text-decoration: none;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 500;
    /* font-size: 30px; */
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-social {
    display: flex;
    gap: 10%;
    align-items: center;
}

/* HERO SECTION STYLE */

.hero {
    padding: 50px 10%;
    display: flex;
    background-color: var(--grey);

    background-image: url(./assets/drawing.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 100%;
}

.hero .left {
    width: 60%;
}

.hero .right {
    width: 40%;
}

.hero-btn {
    padding: 2%;
    display: flex;
    gap: 5%;
    align-items: center;
}

.pri-btn {
    text-decoration: none;
    color: #13ADC7;
    font-size: larger;
    font-weight: 700;
}

.pri-btn:hover {
    text-decoration: none;
    color: #9cdce7;
    font-size: larger;
    font-weight: 700;
}

.pri-btn::after {
    content: "";
    border-top: 2px solid var(--white);
    width: 60%;

    display: flex;
}

.sec-btn {
    text-decoration: none;
    background-color: #13ADC7;
    font-size: larger;
    font-weight: 700;
    padding: 6px 5%;
    color: var(--white);
    border-radius: 20px;
    /* background-color: ; */
}

/* SKILL SECTION */

.skills {
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
}

.skill-set {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 15px;

    display: flex;
    align-items: center;
    gap: 10px;
    width: 24%;
}

.skill-set:hover {
    box-shadow: 0 0 10px var(--grey);
    transition: 0.3s;
}

.hr {
    height: auto;
    border-left: 1.5px solid var(--border-2);
    align-self: stretch;
}

.skill-p {
    font-size: 14px;
    font-weight: 200;
    line-height: 14px;
    
    /* margin-top: 1%; */
    text-align: unset;

}

/* PROJECT SECTION */

.project {
    padding: 50PX 10%;
}

.project-list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-list .card {
    width: 48%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.project-list .card .left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    padding: 4% 2%;
    gap: 10px;
}

.card-img{
    width: 100%;
    text-align: center;
}


.card-img img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.tech-p {
    padding: 3px 7px;
    background-color: var(--white);
    border-radius: 10px;
    font-weight: 500;
}

.pd-text p {
    margin: 10px 0;
}

.project-list .card .right {
    width: 53%;
    padding: 2% 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-description {
    text-align: unset;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}

.project-btn {
    
}

